header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4%;
}
header button {
  width: auto;
}
header p {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
}

ol {
  list-style-type: none;
  padding: 0;
}
ol li {
  padding: 10px 4%;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 2px solid gray;
  transition: 0.3s;
}
ol li:hover {
  opacity: 0.9;
}
ol li.expense {
  border-left: 15px solid red;
}
ol li.income {
  border-left: 15px solid green;
}

p {
  margin: 4px 0;
}
ol li:hover button {
  background-color: #ff0000;
}

button.danger {
  width: auto;
  float: right;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff3131;
  color: #fff;
}
